*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilado con grids main del index */
.main-index{
    display: grid;
    grid-template-areas:
    'text-maindex'
    'imagen-maindex'
    'titulo-maindex'
    'alg-clientes'
    ; 
}

.text-maindex{
    grid-area: text-maindex;
}

.imagen-maindex{
    grid-area: imagen-maindex;
}

.titulo-maindex{
    grid-area: titulo-maindex;
}

.alg-clientes{
    grid-area: alg-clientes;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

    /* Mediascreen */
@media screen and (min-width:768px) {
    .main-index{
        display: grid;
        grid-template-areas:
        'text-maindex imagen-maindex'
        'titulo-maindex titulo-maindex'
        'alg-clientes alg-clientes'
    }

    .alg-clientes{
        display: flex;
        align-items: center;
        justify-content: space-evenly;

    }
}
/* Estilado del formulario de consulta con css */
.form-regist{
    width: 700px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px; 
    font-family: "calibri";
    color: antiquewhite;
    box-shadow: 7px 13px 37px #000;
}

.form-regist h4{
    font-size: 22px;
    margin-bottom: 20px;
}

.complet{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: "calibri";
    font-size: 18px;
    color: whitesmoke;
}

.form-regist .boton-f{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 20px;
    font-family: "calibri";
} 

.foot-gral{
    color: whitesmoke;
    background-color: black;
}

/* estilados puntuales de todos los html */
.inv-form{
    width:30%;
    padding: 5px;
    font-size: 30px;
}

.img-cli{
    width: 300px;
}

.parraf-gral{
    font-size: 25px;
}
